In [336]:
import openpyxl
import pandas as pd


def read_excel(filename, nrows):
    book = openpyxl.load_workbook(filename=filename, read_only=True, data_only=True)
    first_sheet = book.worksheets[0]
    rows_generator = first_sheet.values

    header_row = next(rows_generator)
    data_rows = [row for (_, row) in zip(range(nrows - 1), rows_generator)]
    return pd.DataFrame(data_rows, columns=header_row)


churn_dataset = read_excel(r"C:\Users\irema\Desktop\turknetcalismaveriseti\turknetchurnekimanonim.xlsx", 100000)

In [337]:
# açıklama sütunundaki integer değeri çekme
churn_dataset["ACIKLAMA"]
i =0
integer = []

for row in churn_dataset['ACIKLAMA']:
    parcalar = row.split(" ")
    if parcalar[1] == "İletişim)" or parcalar[1] == "İletişim)(Yapa)":
        integer.append(parcalar[2])
    elif parcalar[1] == "Fiber)":
        integer.append(parcalar[2])
    else:
        integer.append(parcalar[1])
churn_dataset['ACIKLAMA']=integer
churn_dataset['ACIKLAMA'] =churn_dataset['ACIKLAMA'].astype(int)
churn_dataset['ACIKLAMA']

0         100
1         100
2          16
3          35
4         100
         ...
149994     35
149995     75
149996     35
149997     35
149998     35
Name: ACIKLAMA, Length: 149999, dtype: int32

In [338]:
# tahmin edilecek sutündaki null değerleri çıkarma
churn_dataset = churn_dataset.dropna(subset = ['DURUM'])
churn_dataset

,NaN,ILTELKODU,ILADI,POSILCE,ILCE,CINSIYET,DURUM,ABONEBAS,CLOSE_DATE,KALDIGI_AY_SAYISI,...,DENVERGIRISTARIHI_3,DENVERCIKISTARIHI_3,DENVERKALDIGISURE_GUN_3,IKNATICKET_3,PORTERROR_SAYISI_3,MAX_SESSIONTIME_3,MIN_SESSIONTIME_3,TOTALUPLOADGB_3,TOTALDOWNLOADGB_3,CHURNTEST_DATE
0,0,212,İstanbul (Avrupa),939.0,SULTANGAZİ,E,A,2016-04-20,NaT,54,...,None,None,0,0,10,87108,0,16.5013,272.1967,2020-10-31
1,1,212,İstanbul (Avrupa),420.0,SARIYER,K,A,2016-04-20,NaT,54,...,None,None,0,0,1,90271,0,135.8656,185.5825,2020-10-31
2,2,262,Kocaeli,998.0,İZMİT,E,A,2016-04-21,NaT,54,...,None,None,0,0,3,90112,0,1.8255,46.6458,2020-10-31
3,3,212,İstanbul (Avrupa),418.0,KÜÇÜKÇEKMECE,E,A,2016-04-21,NaT,54,...,None,None,0,0,15,87588,1664,2.0288,42.0181,2020-10-31
4,4,212,İstanbul (Avrupa),425.0,BAYRAMPAŞA,E,A,2016-04-21,2020-10-02,54,...,None,None,0,0,0,0,0,0.0000,0.0000,2020-10-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149994,149994,252,Muğla,633.0,FETHİYE,E,A,2020-05-29,NaT,5,...,None,None,0,0,65,86290,0,9.3149,331.6079,2020-10-31
149995,149995,212,İstanbul (Avrupa),407.0,BAKIRKÖY,E,A,2020-05-29,NaT,5,...,None,None,0,0,4,89944,0,4.8387,64.6287,2020-10-31
149996,149996,232,İzmir,440.0,BUCA,E,A,2020-05-29,NaT,5,...,None,None,0,0,9,89550,0,6.3911,70.1902,2020-10-31
149997,149997,216,İstanbul (Anadolu),423.0,ÜSKÜDAR,E,A,2020-05-29,NaT,5,...,None,None,0,0,3,89702,3617,28.7883,713.5770,2020-10-31
149998,149998,338,Karaman,859.0,MERKEZ,E,A,2020-05-29,NaT,5,...,None,None,0,0,1,93688,4830,41.0257,266.4257,2020-10-31

In [339]:
#'KAPASITE','CINSIYET','ODEMESEKLI', 'YAPA_VAE','FATURAGONDERIMTIPI' string sütunlarına encoding
from sklearn.preprocessing import LabelEncoder
labelEncoder = LabelEncoder()
#y = labelEncoder.fit_transform()

churn_dataset[['CINSIYET','ODEMESEKLI', 'YAPA_VAE','FATURAGONDERIMTIPI','DURUM']] =churn_dataset[['CINSIYET','ODEMESEKLI', 'YAPA_VAE','FATURAGONDERIMTIPI','DURUM']].apply(LabelEncoder().fit_transform)
churn_dataset[['CINSIYET','ODEMESEKLI', 'YAPA_VAE','FATURAGONDERIMTIPI','DURUM']]

        CINSIYET  ODEMESEKLI  YAPA_VAE  FATURAGONDERIMTIPI  DURUM
0              0           1         1                   0      0
1              1           1         0                   0      0
2              0           1         0                   0      0
3              0           0         0                   0      0
4              0           1         1                   0      0
...          ...         ...       ...                 ...    ...
149994         0           1         0                   0      0
149995         0           0         0                   0      0
149996         0           0         0                   0      0
149997         0           1         0                   0      0
149998         0           0         0                   0      0

[149999 rows x 5 columns]

In [340]:
#drop duplicate columns
churn_dataset = churn_dataset.T.drop_duplicates().T
churn_dataset

,NaN,ILTELKODU,ILADI,POSILCE,ILCE,CINSIYET,DURUM,ABONEBAS,CLOSE_DATE,KALDIGI_AY_SAYISI,...,ADSLARIZA_TICKETSL_3,INTERNETEBAGLANAMIYORUM_TICKETKAPANMASURESI_3,INTERNETEBAGLANAMIYORUM_TICKETSL_3,IKNATICKET_3,PORTERROR_SAYISI_3,MAX_SESSIONTIME_3,MIN_SESSIONTIME_3,TOTALUPLOADGB_3,TOTALDOWNLOADGB_3,CHURNTEST_DATE
0,0,212,İstanbul (Avrupa),939,SULTANGAZİ,0,0,2016-04-20,NaT,54,...,0,0,0,0,10,87108,0,16.5013,272.197,2020-10-31
1,1,212,İstanbul (Avrupa),420,SARIYER,1,0,2016-04-20,NaT,54,...,0,0,0,0,1,90271,0,135.866,185.583,2020-10-31
2,2,262,Kocaeli,998,İZMİT,0,0,2016-04-21,NaT,54,...,0,0,0,0,3,90112,0,1.8255,46.6458,2020-10-31
3,3,212,İstanbul (Avrupa),418,KÜÇÜKÇEKMECE,0,0,2016-04-21,NaT,54,...,0,0,0,0,15,87588,1664,2.0288,42.0181,2020-10-31
4,4,212,İstanbul (Avrupa),425,BAYRAMPAŞA,0,0,2016-04-21,2020-10-02,54,...,0,0,0,0,0,0,0,0,0,2020-10-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149994,149994,252,Muğla,633,FETHİYE,0,0,2020-05-29,NaT,5,...,0,0,0,0,65,86290,0,9.3149,331.608,2020-10-31
149995,149995,212,İstanbul (Avrupa),407,BAKIRKÖY,0,0,2020-05-29,NaT,5,...,0,0,0,0,4,89944,0,4.8387,64.6287,2020-10-31
149996,149996,232,İzmir,440,BUCA,0,0,2020-05-29,NaT,5,...,0,0,0,0,9,89550,0,6.3911,70.1902,2020-10-31
149997,149997,216,İstanbul (Anadolu),423,ÜSKÜDAR,0,0,2020-05-29,NaT,5,...,0,26,0,0,3,89702,3617,28.7883,713.577,2020-10-31
149998,149998,338,Karaman,859,MERKEZ,0,0,2020-05-29,NaT,5,...,0,0,0,0,1,93688,4830,41.0257,266.426,2020-10-31

In [341]:
# NaN sütunu çıkar
churn_dataset = churn_dataset[set(list(churn_dataset)) - set([None])]
churn_dataset

,INTERNETEBAGLANAMIYORUM_TICKETKAPANMASURESI_1,OIMSIKAYET_DESTEKSAYISI_1,IKNATICKET_3,ADSLARIZA_TICKETSL_3,TOTALUPLOADGB_3,CM_TICKETKAPANMASURESI_2,ADSLARIZA_TICKETSL_2,CINSIYET,TOTALDOWNLOADGB_1,INTERNETEBAGLANAMIYORUM_DESTEKSAYISI_1,...,HIZMETKANALI_SIKAYETSAYISI_1,ADSLARIZA_TICKETKAPANMASURESI_3,currentDown,TOTALDOWNLOADGB_2,ODEMESEKLI,FATURAINCELEME_DESTEKSAYISI_2,TOTALUPLOADGB_2,FATURA_GECIKME_UCRETI_3,CM_TICKETSL_2,OIMSIKAYET_DESTEKSAYISI_2
0,0,0,0,0,16.5013,0,0,0,184.717,0,...,0,0,7774,227.03,1,0,11.5741,0,0,0
1,0,0,0,0,135.866,0,0,1,388.755,0,...,0,0,NaN,118.329,1,0,33.2407,0,0,0
2,0,0,0,0,1.8255,0,0,0,54.2985,0,...,0,0,16381,54.1644,1,0,2.3205,0,0,0
3,0,0,0,0,2.0288,0,0,0,64.473,0,...,0,0,35839,116.422,0,0,11.6085,0,0,0
4,0,2,0,0,0,0,1,0,0,0,...,0,4668,10535,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149994,0,0,0,0,9.3149,0,0,0,334.062,0,...,0,0,17193,311.488,1,0,12.1432,0,0,0
149995,0,1,0,0,4.8387,0,0,0,141.672,0,...,0,0,79856,124.043,0,0,7.6305,0,0,1
149996,0,0,0,0,6.3911,0,0,0,164.704,0,...,0,1283,35832,82.7169,0,0,5.5463,0,0,0
149997,0,0,0,0,28.7883,0,0,0,784.194,0,...,0,0,35836,995.192,1,0,84.6248,0,0,0
149998,0,0,0,0,41.0257,0,0,0,162.68,0,...,0,0,35839,358.693,0,0,53.862,0,0,0

In [342]:
#boş ya da kullanışsız sütunları çıkar
churn_dataset=churn_dataset.drop(['MAX_SESSIONTIME_2','ABONEBAS','TOTALDOWNLOADGB_1','MIN_SESSIONTIME_2','CM_TICKETKAPANMASURESI_3','CM_TICKETKAPANMASURESI_1','INTERNETEBAGLANAMIYORUM_TICKETKAPANMASURESI_1','TOTALDOWNLOADGB_2','CM_TICKETKAPANMASURESI_2','MIN_SESSIONTIME_3','PORTERROR_SAYISI_1','ILTELKODU','currentDown','ADSLARIZA_TICKETKAPANMASURESI_2','ADSLARIZA_TICKETKAPANMASURESI_3','POSILCE','TDU_TICKETKAPANMASURESI_1','MAX_SESSIONTIME_1','TDU_TICKETKAPANMASURESI_3','MIN_SESSIONTIME_1','TOTALUPLOADGB_2','CLOSE_DATE','PORTERROR_SAYISI_2','PORTERROR_SAYISI_3','TDU_TICKETKAPANMASURESI_2','ILCE','INTERNETEBAGLANAMIYORUM_TICKETKAPANMASURESI_3','TOTALUPLOADGB_3','CHURNTEST_DATE','ADSLARIZA_TICKETKAPANMASURESI_1','TOTALUPLOADGB_1','MAX_SESSIONTIME_3','INTERNETEBAGLANAMIYORUM_TICKETKAPANMASURESI_2','ILADI','TOTALDOWNLOADGB_3'],axis =1)
churn_dataset = churn_dataset[set(list(churn_dataset))-set(['DENVERGIRISTARIHI_3'])-set(['DENVERGIRISTARIHI_1'])]
churn_dataset

,IKNATICKET_3,OIMSIKAYET_DESTEKSAYISI_1,ADSLARIZA_TICKETSL_3,FATURA_GECIKME_UCRETI_1,ADSLARIZA_TICKETSL_2,CINSIYET,FATURA_GECIKME_UCRETI_2,INTERNETEBAGLANAMIYORUM_DESTEKSAYISI_1,CM_DESTEKSAYISI_3,DURUM,...,RISKLIMUSTERI,IKNATICKET_1,CAGRIMERKEZIARAMASAYISI_2,ADSLARIZA_DESTEKSAYISI_1,HIZMETKANALI_SIKAYETSAYISI_1,ODEMESEKLI,FATURAINCELEME_DESTEKSAYISI_2,FATURA_GECIKME_UCRETI_3,CM_TICKETSL_2,OIMSIKAYET_DESTEKSAYISI_2
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,2,0,0,1,0,0,0,0,0,...,0,2,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149994,0,0,0,0,0,0,0.56,0,0,0,...,0,0,0,0,0,1,0,0,0,0
149995,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
149996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
149997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
149998,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [343]:
list(churn_dataset) #55 sütun kaldı

['IKNATICKET_3',
 'OIMSIKAYET_DESTEKSAYISI_1',
 'ADSLARIZA_TICKETSL_3',
 'FATURA_GECIKME_UCRETI_1',
 'ADSLARIZA_TICKETSL_2',
 'CINSIYET',
 'FATURA_GECIKME_UCRETI_2',
 'INTERNETEBAGLANAMIYORUM_DESTEKSAYISI_1',
 'CM_DESTEKSAYISI_3',
 'DURUM',
 'INTERNETEBAGLANAMIYORUM_TICKETSL_2',
 'ADSLARIZA_DESTEKSAYISI_3',
 'INTERNETEBAGLANAMIYORUM_TICKETSL_3',
 'ARKADASINIGETIR',
 'FATURA_GECIKME_3',
 'FATURA_GECIKME_2',
 'CM_DESTEKSAYISI_2',
 'ADSLARIZA_TICKETSL_1',
 'DESTEKSAYISI_2',
 'INTERNETEBAGLANAMIYORUM_TICKETSL_1',
 'DESTEKSAYISI_1',
 'KALDIGI_AY_SAYISI',
 'FATURA_GECIKME_1',
 'TDU_DESTEKSAYISI_3',
 'YAPA_VAE',
 'KAPASITE',
 'ADSLARIZA_DESTEKSAYISI_2',
 'INTERNETEBAGLANAMIYORUM_DESTEKSAYISI_3',
 'CM_TICKETSL_1',
 'CAGRIMERKEZIARAMASAYISI_1',
 'TDU_DESTEKSAYISI_1',
 'ARKADASINIGETIRILEGELENLER',
 'TDU_TICKETSL_1',
 'DESTEKSAYISI_3',
 'TDU_TICKETSL_3',
 'TDU_TICKETSL_2',
 'TDU_DESTEKSAYISI_2',
 'FATURAGONDERIMTIPI',
 'INTERNETEBAGLANAMIYORUM_DESTEKSAYISI_2',
 'CM_TICKETSL_3',
 'ACIKLAMA',
 'CM_DESTEKSAYISI_1',
 'CAGRIMERKEZIARAMASAYISI_3',
 'IKNATICKET_2',
 'OIMSIKAYET_DESTEKSAYISI_3',
 'RISKLIMUSTERI',
 'IKNATICKET_1',
 'CAGRIMERKEZIARAMASAYISI_2',
 'ADSLARIZA_DESTEKSAYISI_1',
 'HIZMETKANALI_SIKAYETSAYISI_1',
 'ODEMESEKLI',
 'FATURAINCELEME_DESTEKSAYISI_2',
 'FATURA_GECIKME_UCRETI_3',
 'CM_TICKETSL_2',
 'OIMSIKAYET_DESTEKSAYISI_2']

In [359]:
from collections import Counter
Counter(churn_dataset['DURUM'])

Counter({0: 139751, 1: 10248})

In [367]:
from collections import Counter
Counter(churn_dataset['DURUM'])

Counter({0: 139751, 1: 10248})

In [344]:
train_columns = list(set(list(churn_dataset))-set(['DURUM']))  #durum dışındaki bütün sütunlar
looked_column = list(set(['DURUM']))                           #tahmin edilecek

y = churn_dataset[looked_column]
train_columns

['OIMSIKAYET_DESTEKSAYISI_1',
 'IKNATICKET_3',
 'ADSLARIZA_TICKETSL_3',
 'FATURA_GECIKME_UCRETI_1',
 'ADSLARIZA_TICKETSL_2',
 'CINSIYET',
 'FATURA_GECIKME_UCRETI_2',
 'INTERNETEBAGLANAMIYORUM_DESTEKSAYISI_1',
 'CM_DESTEKSAYISI_3',
 'ADSLARIZA_DESTEKSAYISI_3',
 'ARKADASINIGETIR',
 'DESTEKSAYISI_2',
 'CM_DESTEKSAYISI_2',
 'ADSLARIZA_TICKETSL_1',
 'FATURA_GECIKME_3',
 'FATURA_GECIKME_2',
 'INTERNETEBAGLANAMIYORUM_TICKETSL_3',
 'INTERNETEBAGLANAMIYORUM_TICKETSL_2',
 'INTERNETEBAGLANAMIYORUM_TICKETSL_1',
 'DESTEKSAYISI_1',
 'KALDIGI_AY_SAYISI',
 'FATURA_GECIKME_1',
 'TDU_DESTEKSAYISI_3',
 'YAPA_VAE',
 'KAPASITE',
 'ADSLARIZA_DESTEKSAYISI_2',
 'INTERNETEBAGLANAMIYORUM_DESTEKSAYISI_3',
 'CM_TICKETSL_1',
 'CAGRIMERKEZIARAMASAYISI_1',
 'TDU_DESTEKSAYISI_1',
 'ARKADASINIGETIRILEGELENLER',
 'TDU_TICKETSL_1',
 'DESTEKSAYISI_3',
 'TDU_TICKETSL_3',
 'TDU_TICKETSL_2',
 'TDU_DESTEKSAYISI_2',
 'FATURAGONDERIMTIPI',
 'INTERNETEBAGLANAMIYORUM_DESTEKSAYISI_2',
 'CM_TICKETSL_3',
 'ACIKLAMA',
 'CM_DESTEKSAYISI_1',
 'CAGRIMERKEZIARAMASAYISI_3',
 'IKNATICKET_2',
 'OIMSIKAYET_DESTEKSAYISI_3',
 'RISKLIMUSTERI',
 'IKNATICKET_1',
 'CAGRIMERKEZIARAMASAYISI_2',
 'ADSLARIZA_DESTEKSAYISI_1',
 'HIZMETKANALI_SIKAYETSAYISI_1',
 'ODEMESEKLI',
 'FATURAINCELEME_DESTEKSAYISI_2',
 'FATURA_GECIKME_UCRETI_3',
 'CM_TICKETSL_2',
 'OIMSIKAYET_DESTEKSAYISI_2']

In [358]:
from collections import Counter
Counter(churn_dataset['DURUM'])
#Counter(churn_dataset['ARKADASINIGETIR'])

Counter({0: 139751, 1: 10248})

In [347]:
churn_dataset['ARKADASINIGETIR'] =churn_dataset['ARKADASINIGETIR'].fillna(0) #sadece bu sütunda NaN değer var
churn_dataset['ARKADASINIGETIR'] =churn_dataset['ARKADASINIGETIR'].astype(int)
Counter(churn_dataset['ARKADASINIGETIR'])

Counter({0: 99946,
         3: 3860,
         4: 3481,
         1: 25685,
         7: 356,
         2: 13058,
         8: 513,
         6: 1036,
         5: 954,
         20: 25,
         29: 9,
         13: 37,
         9: 135,
         10: 211,
         28: 11,
         67: 3,
         60: 5,
         16: 29,
         41: 5,
         11: 62,
         12: 129,
         18: 21,
         14: 74,
         23: 13,
         213: 1,
         171: 3,
         17: 24,
         24: 14,
         21: 8,
         15: 30,
         36: 8,
         459: 1,
         136: 1,
         34: 10,
         126: 2,
         56: 6,
         63: 3,
         83: 2,
         32: 11,
         66: 2,
         325: 1,
         43: 3,
         27: 18,
         113: 1,
         135: 3,
         26: 12,
         107: 1,
         38: 5,
         19: 8,
         85: 1,
         33: 5,
         100: 2,
         53: 2,
         22: 17,
         51: 2,
         62: 2,
         40: 3,
         25: 15,
         76: 2,
         594: 1,
         96: 1,
         30: 6,
         55: 1,
         47: 2,
         98: 1,
         35: 4,
         99: 1,
         119: 2,
         4823: 1,
         52: 4,
         45: 3,
         144: 1,
         54: 3,
         44: 7,
         31: 5,
         61: 2,
         330: 1,
         37: 4,
         46: 3,
         68: 1,
         157: 2,
         89: 3,
         204: 1,
         102: 1,
         39: 3,
         50: 2,
         77: 1,
         75: 1,
         70: 1,
         42: 2,
         198: 3,
         316: 1,
         132: 2,
         137: 1,
         252: 1,
         48: 2,
         307: 1,
         103: 1,
         90: 1,
         49: 1,
         108: 1,
         88: 1,
         217: 1,
         455: 1,
         154: 1,
         71: 1,
         550: 1,
         256: 1,
         223: 1,
         80: 1,
         149: 1,
         78: 1,
         337: 1,
         84: 1,
         64: 1,
         87: 1,
         142: 1,
         86: 1,
         794: 1,
         859: 1,
         546: 1,
         207: 1,
         174: 1,
         133: 1,
         117: 1,
         298: 1,
         59: 1})

In [348]:
import statsmodels.api as sm
import numpy as np

X = churn_dataset[train_columns].astype(float)
                                        
y = churn_dataset[looked_column].astype(float)

cols = list(train_columns)
pmax = 1
while (len(cols)>0):
    p=[]
    X_1 = X[cols]
    X_1 = sm.add_constant(X_1)
    model = sm.OLS(y,X_1).fit()
    p = pd.Series((model.pvalues.values[1:].tolist()))
    pmax = max(p)
    feature_with_p_max = p.idxmax()
    #print(feature_with_p_max)
    #print(pmax)
    if(pmax>0.05):
        cols.remove(cols[feature_with_p_max])
    else:
        break
        
selected_features = cols
len(selected_features)
selected_features

['OIMSIKAYET_DESTEKSAYISI_1',
 'IKNATICKET_3',
 'FATURA_GECIKME_UCRETI_1',
 'CINSIYET',
 'FATURA_GECIKME_UCRETI_2',
 'CM_DESTEKSAYISI_3',
 'ADSLARIZA_DESTEKSAYISI_3',
 'ADSLARIZA_TICKETSL_1',
 'FATURA_GECIKME_2',
 'DESTEKSAYISI_1',
 'KALDIGI_AY_SAYISI',
 'FATURA_GECIKME_1',
 'TDU_DESTEKSAYISI_3',
 'YAPA_VAE',
 'KAPASITE',
 'CM_TICKETSL_1',
 'CAGRIMERKEZIARAMASAYISI_1',
 'TDU_DESTEKSAYISI_1',
 'ARKADASINIGETIRILEGELENLER',
 'TDU_TICKETSL_1',
 'DESTEKSAYISI_3',
 'FATURAGONDERIMTIPI',
 'ACIKLAMA',
 'CM_DESTEKSAYISI_1',
 'CAGRIMERKEZIARAMASAYISI_3',
 'IKNATICKET_2',
 'OIMSIKAYET_DESTEKSAYISI_3',
 'RISKLIMUSTERI',
 'IKNATICKET_1',
 'ADSLARIZA_DESTEKSAYISI_1']

In [349]:
from sklearn.model_selection import train_test_split
X = churn_dataset[selected_features].astype(int)
y = churn_dataset[looked_column].astype(int)
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.1, random_state = 0)

In [350]:
Counter(y_test['DURUM'])

Counter({0: 13994, 1: 1006})

In [356]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 200)
classifier.fit(X_train, y_train)

# predicting the test results
y_pred = classifier.predict(X_test)

from sklearn import metrics
import numpy as np
classifier.score(X_test,y_test)

<ipython-input-356-f5d7b06f9780>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)

0.916

In [357]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[13615,   379],
       [  881,   125]], dtype=int64)